@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,200&display=swap');
:root {
    --main-color1: Crimson;
    --main-color2: #F4A443; /* rgb(244, 164, 67) */
    --main-color3: #3D2E27; /* rgb(61, 46, 39) */
    --main-color4: #985111; /* rgb(98, 51, 11) */
    --main-color5: #FBDED6; /* rgb(251, 222, 214) */
    --main-color6: #EBB392; /* rgb(235, 179, 146) */
    --main-color7: #AA580C; /* rgb(170, 88, 12) */
    --main-color8: #fddfdf;
    --main-color9: #fcf7de;
    --main-color10: #defde0; /* #C4E9E6 #defde0*/
    --main-color11: #def3fd;
    --main-color12: #f0defd;
    --main-color13: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat, Arial, sans-serif;
}

html {
    scroll-behavior: smooth;
  }

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: var(--main-color1);
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: var(--main-color6);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

h4 {
    font-weight: 20px;
    color: var(--main-color5);
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

#hero p {
    font-size: 16px;
    color: whitesmoke;
    margin: 15px 0 20px 0;
}

.section-padding-1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

button.normal {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-top: 0.5rem;
    color: var(--main-color3);
    background-color: var(--main-color10);
    border: 1px solid var(--main-color4);
    border-radius: 0.5rem;
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
}

button.no-color {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.8rem 1rem;
    margin-top: 0.5rem;
    color: var(--main-color13);
    background-color: transparent;
    border: 1px solid var(--main-color13);
    cursor: pointer;
    outline: none;
    transition: 0.3s ease-in-out;
}

/* ---------------------- Scrollbar -------------------------- */
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 1px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 1px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/* ------------------------------------ Scroll Button ------------------------------- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: var(--main-color6);
    color: var(--main-color13);
    cursor: pointer;
    padding-bottom: 2px;
    border-radius: 5px;
    width: 35px;
    height: 35px;
   }
  
  #myBtn:hover {
    background-color: var(--main-color7);
    color: var(--main-color5);
  }


/* --------------------------------------- Header ------------------------------------- */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    padding: 20px 80px;
    /*background-color: var(--main-color6);*/
    background: linear-gradient(
        180deg,
        var(--main-color8) 0%,
        var(--main-color6) 5%,
        var(--main-color6) 95%,
        var(--main-color8) 100%
    );
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    z-index: 1;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color3);
    letter-spacing: normal;
    transition: font-size 0.3s ease-in-out, font-weight 0.1s ease-in-out, color 0.3s ease-in-out, letter-spacing 0.3s ease-in-out;
}

#navbar li a:hover,
#navbar li a.active {
    color: #985111;
    font-size: 1.25rem;
    font-weight: 500;
    letter-spacing: -1px;
} 

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 40%;
    height: 2px;
    background-color: var(--main-color5);
    position: absolute;
    bottom: -4px;
    left: 20px;
}

.logo {
    font-family: "Montserrat Alternates", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.75rem;
    font-weight: 300;
    letter-spacing: -2px;
    color: var(--main-color4);
    text-decoration: none;
    /*border: 1px solid var(--main-color4);*/
    border-radius: 1px;
    background: linear-gradient(
        90deg, 
        var(--main-color4) 0%,   
        var(--main-color8) 2%,
        var(--main-color13) 50%,
        var(--main-color8) 98%,
        var(--main-color4) 100%
    );
    padding: 0 15px;
    box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.08);
}

#mobile {
    display: none;
    align-items: center;
}

#close-menu {
    display: none;
}

/* -------------------------------- Home Page ------------------------------------ */

#hero {
    background-image: url("../images/clothes-shop1.jpg");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: right 0% top 25%;
    padding: 0 80px;
    display: flex; /* by default in row */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#hero h4 {
    padding-bottom: 15px;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    color: var(--main-color5);
}

#hero h1 {
    color: var(--main-color5);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

#hero button {
    background-image: url("../images/button1.png");
    background-color: transparent;
    color: var(--main-color3);
    border: 0;
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-weight: 700;
    font-size: 1rem;
}

#feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#txt-container {
    background-color: rgba(170, 88, 12, 0.4);
    padding: 2.5rem;
    border: 2px solid rgba(170, 88, 12, 0.8);
    border-radius: 0 25px 25px 0;
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.2);
}

#feature .feature-box {
    width: 200px;
    text-align: center;
    padding: 20px 15px;
    box-shadow: 0px 0px 20px 10px rgb(98, 51, 11, 0.06);
    border: 1px solid var(--main-color7);
    border-radius: 4px;
    margin: 15px 0;
}

#feature .feature-box:hover {
    box-shadow: 0px 0px 10px 10px rgba(98, 51, 11, 0.12);
    border-radius: 15px;
    border: 2px solid var(--main-color2);
}

#feature .feature-box img {
    width: 100%;
    margin-bottom: 10px;
}

#feature .feature-box h6 {
    display: inline-block;
    padding: 9px 8px 8px 9px;
    line-height: 1;
    border-radius: 4px;
    color: var(--main-color4);
    background-color: var(--main-color12);
    border: 1px solid var(--main-color4);
}

#feature .feature-box:nth-child(2) h6 {
    background-color: var(--main-color8);
    border: 1px solid var(--main-color4);
}

#feature .feature-box:nth-child(3) h6 {
    background-color: var(--main-color9);
    color: var(--main-color4);
    border: 1px solid var(--main-color4);
}

#feature .feature-box:nth-child(4) h6 {
    background-color: var(--main-color10);
    color: var(--main-color4);
    border: 1px solid var(--main-color4);
}

#feature .feature-box:nth-child(5) h6 {
    background-color: var(--main-color11);
    color: var(--main-color4);
    border: 1px solid var(--main-color4);
}

#feature .feature-box:nth-child(6) h6 {
    background-color: var(--main-color12);
    color: var(--main-color4);
    border: 1px solid var(--main-color4);
}

#product1 h2, h4, p {
    color: var(--main-color4);
    text-shadow: none;
}

.ri-shopping-cart-line {
    font-size: 28px;
    text-decoration: none;
}

.pro a {
    text-decoration: none;
    color: var(--main-color3);
}

#product1 {
    text-align: center;
}

#product1 .products-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;
}

#product1 .pro {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid var(--main-color2);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
    margin: 15px 0;
    transition: 0.3s ease-in-out;
    position: relative;
}

#product1 .pro:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.12);
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .description {
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .description span, h4 {
    color: var(--main-color7);
    font-size: 1.5rem;
}

#product1 .pro .description h5 {
    padding-top: 7px;
    color: var(--main-color4);
    font-size: 1rem;
}

#product1 .pro .description i {
    font-size: 1rem;
    color: orange;
}

#product1 .pro .description h4 {
    padding-top: 7px;
    font-size: 1.5rem;
    font-weight: 700;
}

#product1 .pro .cart {
    width: 45px;
    height: 45px;
    line-height: 18px;
    border-radius: 50%;
    background-color: var(--main-color2);
    font-weight: 500;
    color: var(--main-color5);
    border: 2px solid var(--main-color7);
    padding-top: 12px;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url("../images/banner/banner21.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#banner h2 {
    color: var(--main-color3);
    text-shadow: 2px 2px 18px rgba(255, 255, 255, 0.9)
}

#banner h4 {
    font-size: 2rem;
    padding: 10px 0;
}

#banner h2 span {
    color: var(--main-color2);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    font-size: 4rem;
}

#banner button:hover {
    background-color: var(--main-color2);
    color: white;
}

#small-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#small-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/banner/banner19.jpg");
    min-width: 660px;
    height: 60vh;
    background-size: cover;
    background-position: center;
    padding: 30px;
    border: 2px solid var(--main-color4);
}

#small-banner .banner-box2 {
    background-image: url("../images/banner/banner18.jpg");
}

#small-banner h4 {
    color: var(--main-color13);
    font-size: 2rem;
    font-weight: 300;
}

#small-banner h2 {
    color: var(--main-color13);
    font-size: 2.5rem;
    font-weight: 800;
}

#small-banner span {
    color: var(--main-color2);
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 1rem;
}

#small-banner .banner-box:hover button {
    background: var(--main-color2);
    color: var(--main-color3);
    border: 1px solid var(--main-color2);
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
    position: relative;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../images/banner/banner17.jpg");
    min-width: 30%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    border: 2px solid var(--main-color4);
    margin-bottom: 20px;
}

#banner3 .banner-box2 {
    background-image: url("../images/banner/banner20.jpg");
}

#banner3 .banner-box3 {
    background-image: url("../images/banner/banner22.jpg");
}

#banner3 h2 {
    color: var(--main-color2);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
    font-weight: 900;
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    animation: blink 2s infinite;
}

@keyframes blink {
    0% { opacity: 0 }
    50% { opacity: 1 }
    100% { opacity: 0 }
}

#banner3 h3 {
    color: var(--main-color2);
    background-color: var(--main-color3);
    width: 250px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;;
    font-weight: 800;
    font-size: 1rem;
    position: absolute;
    top: 0;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("../images/banner/newsletter1.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color: var(--main-color3);
}

#newsletter h4 {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--main-color4);
}

#newsletter p {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding-left: 3rem;
}

#newsletter p span {
    font-size: 1.3rem;
    color: cyan;
}

#newsletter .form {
    display: flex;
    width: 40%;
    align-items: center;
    
}

#newsletter input {
    height: 3.28rem;
    padding: 0 1.25rem;
    font-size: 1rem;
    width: 100%;
    border: 1px solid var(--main-color3);
    border-right: none;
    border-radius: 8px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter button {
    background-color: var(--main-color8);
    color: var(--main-color4);
    white-space: nowrap;
    margin-top: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.2rem;
}

footer .logo {
    margin-bottom: 2rem;
}

footer h4 {
    font-size: 1rem;
    padding-bottom: 1.5rem;
}

footer p {
    font-size: 0.8rem;
    margin: 0 0 0.5rem 0;
}

footer a {
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--main-color3);
    margin-bottom: 0.8rem;
}

footer .follow_us {
    margin-top: 1.2rem;
}

footer .follow_us img {
    color: var(--main-color3);
    padding-right: 4px;
    cursor: pointer;
}

footer .install .row img {
    border: 2px solid var(--main-color2);
    border-radius: 1rem;
}

footer .install img {
    margin: 0.5rem 0 1.5rem 0;
}

.social_icons img {
    padding-left: 4px;
    border: 1px solid transparent;
}

.social_icons img:hover {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid var(--main-color2);
    
}

footer a:hover {
    color: var(--main-color2);
}

footer .copyright {
    width: 100%;
    text-align: center;
}


/* --------------------------------- Shop Page ------------------------------- */

#page-header {
    background-image: url("../images/banner/banner32.jpg");
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

#txt-container-shop {
    background-color: rgba(170, 88, 12, 0.2);
    padding: 2.5rem;
    border: 2px solid rgba(170, 88, 12, 0.8);
    border-radius: 25px;
    box-shadow: inset 0 0 10px 10px rgba(0,0,0,0.2);
    width: 650px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

#txt-container-shop p {
    color: var(--main-color13);
}

#pagination {
    text-align: center;
}

#pagination a {
    text-decoration: none;
    background-color: var(--main-color10);
    padding: 1rem 1.5rem;
    color: var(--main-color4);
    border-radius: 4px;
    font-weight: 600;
}

#pagination i {
    font-size: 1rem;
    font-weight: 600;
}

/* --------------------------- Shop Single Product -------------------------------- */

#product-details {
        display: flex;
        margin-top: 20px;
}

#product-details .single-product-img {
    width: 40%;
    margin-right: 50px;
}

.small_img_group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 24%;
    cursor: pointer
}

#product-details .single-product-details {
    width: 50%;
    padding-top: 30px;
}

#product-details .single-product-details h4 {
    padding: 40px 0 20px 0;
}

#product-details .single-product-details h2 {
    font-size: 1.5rem;
    color: var(--main-color3);
    text-shadow: none;
    margin-bottom: 0.3rem;
}

#product-details .single-product-details select {
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

#product-details .single-product-details select:focus {
    outline: none;
}

#product-details .single-product-details input {
    width: 50px;
    height: 50px;
    padding-left: 10px;
    font-size: 1rem;
    margin-right: 10px;
}

#product-details .single-product-details input:focus {
    outline: none;
}

#product-details .single-product-details button {
    background-color: var(--main-color2);
    color: white;
    border-radius: 4px;
}

#product-details .single-product-details span {
    line-height: 25px;
}



/* ---------------------------------- Blog Page -----------------------------------------*/

#page-header.blog_header {
    background-image: url("../images/banner/banner41.jpg");
}

#blog {
    padding: 150px 150px 0 150px;
}

#blog .blog_box {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    padding-bottom: 90px;
}

#blog .blog_img {
    width: 50%;
    margin-right: 40px;
}

#blog img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

#blog .blog_details {
    width: 50%;
}

#blog .blog_details p {
    margin: 25px 0;
}

#blog .blog_details a {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--main-color3);
    font-weight: 700;
    position: relative;
}

#blog .blog_details a::after {
    content: "";
    width: 50px;
    height: 1px;
    background-color: var(--main-color3);
    position: absolute;
    top: 7px;
    right: -60px;
}

#blog .blog_details a:hover {
    color: var(--main-color2);
}

#blog .blog_details a:hover::after {
    background-color: var(--main-color2);
}

#blog .blog_box h1 {
    position: absolute;
    top: -55px;
    left: -20px;
    font-size: 5rem;
    font-weight: 700;
    color: var(--main-color6);
    opacity: 0.3;
    z-index: -1;
}

/* ----------------------------------- About Page --------------------------------------- */

#page-header.about_header {
    background-image: url("../images/about/about31.jpg");
    background-position: top 0% right 50%;
    padding-top: 150px;
}

#txt-container-shop {
    width: 450px;
}

h2 {
   color: var(--main-color5);
}

#about-header {
    display: flex;
    align-items: center;
}

#about-header img {
    width: 50%;
    height: auto;
}

#about-header div {
    padding-left: 40px;
}

#about-header h2, p {
    padding-bottom: 1rem;
}

#about-header h2 {
    text-shadow: none;
    color: var(--main-color4);
    letter-spacing: -2px;
}

.animation-text {
    width: 100%;
    height: 2rem;
    padding-top: 5px;
    padding-left: 10px;
    background-color: var(--main-color2);
    position: relative;
    animation-name: animatext;
    animation-duration: 4s;
    animation-delay: 2s;
    color: var(--main-color13);
    text-align: center;
    border: 1px solid var(--main-color3);
    border-radius: 5px;
}

@keyframes animatext {
    0%   {background-color:var(--main-color3); left: 0px; top: 0px; border-bottom: 5px solid var(--main-color3);}
    25%  {background-color:var(--main-color4); left: 100px; top: 0px; border-bottom: 5px solid var(--main-color2);}
    50%  {background-color:var(--main-color7); left: 0; top: 0px; border-bottom: 5px solid var(--main-color2);}
    75%  {background-color:var(--main-color3); left: -100px; top: 0px; border-bottom: 5px solid var(--main-color2);}
    100% {background-color:var(--main-color2); left: 0px; top: 0px; border-bottom: 5px solid var(--main-color3);}
  }

  #about-app {
    text-align: center;
    background-color: var(--main-color12);
  }

  #about-app h1 {
    color: var(--main-color4);
  }

  #about-app a {
    color: var(--main-color2);
    text-decoration: none;
  }

  #about-app .video {
    width: 50%;
    height: 100%;
    margin: 30px auto 0 auto;
  }

  #about-app .video video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

/* ---------------------------------- Contact Page ---------------------------------------- */

#page-header.contact_header {
    background-image: url("../images/banner/banner541.jpg");
}

#txt-container-shop {
    background-color: rgba(170, 88, 12, 0.35);
    width: 650px;
}

/*div ul li {
    list-style: none;
}*/

#contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#contact-details .details {
    width: 40%;
}

#contact-details .details span,
#form-details form span {
    font-size: 1.2rem;
}

#contact-details .details h2,
#form-details form h2 {
    font-size: 1.8rem;
    line-height: 2rem;
    padding: 1.1rem 0;
    text-shadow: none;
    color: var(--main-color4);
}

#contact-details .details h3 {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color2);
}

#contact-details .details ul li {
    list-style: none;
    display: flex;
    align-items: flex-start;
    padding: 0.8rem 0;
}

#contact-details .details ul li img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1.2rem;
}

#contact-details .details ul li p {
    margin: 0;
    font-size: 1rem;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details {
    display:flex;
    justify-content: space-between;
    margin: 2rem;
    padding: 5rem;
    border: 1px solid var(--main-color4);
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 0.8rem 1rem;
    outline: none;
    margin-bottom: 1.2rem;
    border: 1px solid var(--main-color4);
}

#form-details form button {
    background-color: var(--main-color10);
    width: 10rem;
}

#form-details .employees div {
    padding-bottom: 1.8rem;
    display: flex;
    align-items: flex-start;
}

#form-details .employees div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}

#form-details .employees div p {
    margin: 0;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

#form-details .employees div span {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color3);
}

#form-details .employees {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


/* ------------------------------------ Cart Page ------------------------------------------ */

#page-header.cart_header {
    background-image: url("../images/banner/banner631.jpg");
    background-position: top 15% right 50%;
}

#page-header.cart_header #txt-container-shop {
    width: 350px;
    margin-right: 350px;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 10px 5px 10px 15px;
}

#cart table thead {
    border: 1px solid var(--main-color7);
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 1.2rem 0;
}

#cart table tbody tr td {
    padding-top: 1rem;
}

#cart table tbody td {
    font-size: 0.9rem;
}

#cart a{
    text-decoration: none;
    color: var(--main-color2); 
    font-size: 1.5rem;
}

#add-to-cart {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#coupon {
    width: 50%;
    margin-bottom: 2rem;
}

#coupon h3,
#subtotal h3 {
    padding-bottom: 1rem;
}

#coupon input {
    padding: 14px 20px;
    outline: none;
    width: 60%;
    margin-right: 0px;
    border: 1px solid var(--main-color7);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

#coupon button {
    width: 150px;
    height: 45px;
    padding: 10px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin: 2px 0 0 0;
}

#subtotal {
    width: 50%;
    margin-bottom: 2rem;
    margin-top: 2.5rem;
    border: 1px solid var(--main-color4);
    padding: 30px; 
    border-radius: 10px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid var(--main-color4);
    padding: 0.6rem;
    font-size: 0.8rem;
}

#subtotal button {
    width: 250px;
    height: 45px;
    padding: 10px;
    margin: 8px 0 0 0;
}

/* --------------------------- Media Queries --------------------------------- */

@media (max-width: 799px) {

    html {
        scroll-behavior: smooth;
      }

    .section-padding-1 {
        padding: 30px 30px;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: var(--main-color13);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.12);
        padding: 80px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #navbar.active {
        right: 0px;
    }

    #navbar li {
        margin-bottom: 35px;
    }

    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: var(--main-color3);
        font-size: 2rem; 
        padding-right: 1rem;
    }

    #mobile a {
        text-decoration: none;
    }

    #close-menu {
        display: initial;
        position: absolute;
        top: 1.5rem;
        left: 1.5rem;
        color: var(--main-color3);
    }

    #large-cart {
        display: none;
    }

    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 55%;
    }

    #feature {
        justify-content: center;
    }

    #feature .feature-box {
        margin: 15px 15px;
    }

    #product1 .products-container {
       justify-content: center;
    }

    #product1 .pro {
        margin: 15px;
    }

    #banner {
        height: 30vh;
    }

    #small-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        margin-bottom: 1rem;
    }

    #banner3 {
        padding: 0 40px;
    }

    #banner3 .banner-box {
        width: 28%;
    }

    #banner3 h3 {
        width: 200px;
       font-size: 0.8rem;
    }

    #newsletter .form {
        width: 70%;
        margin-top: 1rem;
    }

    /* ------------------------------------ Scroll Button ------------------------------- */

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--main-color2);
    color: var(--main-color13);
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    width: 45px;
    height: 45px;
   }
  
#myBtn:hover {
    background-color: var(--main-color4);
    color: var(--main-color5);
  }

  /* ----- About Page --------- */

#about-header h2 {
    margin-left: -350px;
 }

 #about-app .video {
    width: 70%;
    height: 100%;
    margin: 30px auto 0 auto;
}

/* Contact Page */
#form-details {
    padding: 40px;
}

#form-details form {
    width: 50%;
}

#form-details .employees {
    margin-top: 100px;
}

/* Cart Page */

#cart {
    overflow-x: auto;
}

#page-header.cart_header #txt-container-shop {
    width: 300px;
    margin-right: 30px;
}

::-webkit-scrollbar {
    height: 4px;              
    width: 4px;               
    border: 1px solid #d5d5d5;
  }

#coupon input {
    border-radius: 8px;
    margin-bottom: 1rem;
}

#coupon button {
    border-radius: 8px;
}

}
/* --------------------------------------- Media Query -------------------------- */

@media (max-width: 477px) {
    
    #navbar {
        right: -177px;
        width: 177px;
    }

    #navbar.active {
        right: 0px;
    }

    .section-padding-1 {
        padding: 20px;
    }

    #header {
        padding: 10px 30px;
    }

    #hero {
        background-position: 55%;
        padding: 0 20px;
    }

    #txt-container {
        width: 330px;
        padding: 2rem 1rem 2rem 2rem;
    }

    #txt-container h2 {
        margin-bottom: -1.8rem;
        padding: 0;
    }

    h2 {
        font-size: 1.8rem;
        margin-bottom: -0.5rem;
        padding: 0rem;
        
    }

    h1 {
        font-size: 2rem;
    }

    #contact-details .details h3 {
        font-size: 1rem;
        padding: 1rem 0;
        color: var(--main-color2);
    }

    #feature {
        justify-content: space-between;
    }

    #feature .feature-box {
        width: 180px;
        margin: 0 0 15px 0;
    }

    #product1 .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #small-banner .banner-box {
        height: 40vh;
    }

    #small-banner .banner-box2 h4 {
        color: var(--main-color4);
        padding-bottom: 2.5rem;
        font-size: 1.2rem;
        font-weight: 400;
    }

    #banner3 {
        padding: 0 20px;
    }

    #banner3 .banner-box h2 {
        font-size: 1.5rem;
    }

    #banner h2 span {
        font-size: 2rem;
    }
    
    #banner3 h3 {
        width: 100px;
        height: 40px;
        padding: 5px;
        border-radius: 5px;
        font-weight: 700;
        font-size: 0.7rem;
        position: absolute;
        top: 0;
        text-align: center;
    }

    #newsletter .form {
        width: 100%;
    }

    #newsletter {
        padding: 40px 20px;
    }

    /* ---------------------- Single Product For Small Screens -------------------------- */
    #product-details {
        display: flex;
        flex-direction: column;
    }

    #product-details .single-product-img {
        width: 100%;
        margin-right: 0px;
    }

    #product-details .single-product-details {
        width: 100%;
    }

    #product1 h2, h4, p {
       padding: 0.5rem;
    }

    /* ----------------------- Blog Page For Small Screens ------------------ */
     
    #txt-container-shop {
        width: 350px;
        padding: 1rem 0;
    }

    #blog {
        padding: 100px 20px 0 20px;
    }

    #blog .blog_box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #blog .blog_img {
        width: 100%;
        margin-right: 0px;
    }

    #blog .blog_box h1 {
        left: 0px;
        font-size: 3rem;
        margin-bottom: 2rem;
    }

    #blog .blog_details {
        width: 100%;
    }

    #myBtn {
        display: none !important;
    }

    /* ------------ About Page -------------- */
    #about-header {
        flex-direction: column;
    }

    #about-header h2 {
        margin-left: 0px;
        line-height: 2rem;
        margin: 1rem auto 0 auto;
     }

     #about-header img {
        width: 100%;
        margin: 10px 0;
    }

    #about-header div {
        padding-left: 0px;
    }

    #about-app .video {
        width: 100%;
    }

    #feature .feature-box {
        width: 160px;
        margin: 0 0 15px 0;
    }
    
/* Contact Page For Small Screens */
    #contact-details {
        flex-direction: column;
    }

    #contact-details .details {
        width: 100%;
        margin-bottom: 30px;
    }

    #contact-details .details ul li {
        align-items: center;
        margin-bottom: 0px;
        padding: 0;
    }

    #contact-details .map {
        width: 100%;
    }

    #form-details {
        margin: 1rem;
        padding: 2rem 0.8rem;
        flex-wrap: wrap;
    }

    #form-details form {
        width: 100%;
    }

    #form-details .employees {
        margin: 5rem 0 0 3rem;
        width: 60%;
    }

    /* Cart Page */
    #add-to-cart {
        display: flex;
        flex-direction: column;
    }

    #coupon {
        width: 100%;
    }

    #coupon button {
        width: 100px;
        height: 45px;
        padding: 10px;
        border-radius: 8px;
    }

    #subtotal {
        width: 100%;
        margin-top: 0;
        border-radius: 8px;
    }

    #subtotal button {
        width: 100%;
        margin: 0 auto;
    }
    
}





